/* * */
/* CONTAINER */

.container {
	width: calc(100% - 24px);
	max-width: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: var(--size-spacing-xl);
	margin-bottom: var(--size-spacing-3xl);
}

@media (width >= 768px) {
	.container {
		width: auto;
		max-width: 80%;
		margin-top: var(--size-spacing-3xl);
	}
}

/* * */
/* HERO CONTAINER */

.heroContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 520px;
	height: auto;
	padding: 28px 18px;
	overflow: hidden;
	color: var(--color-system-background-100);
	background-color: var(--pill-1-text);
	border: 4px solid transparent;
	border-color: var(--pill-1-border);
	border-radius: 16px;
	box-shadow: 0 1px 3px 0 rgb(11 61 145 / 25%);
}

@media (width >= 768px) {
	.heroContainer {
		height: 700px;
		padding: 64px;
	}
}

/* * */
/* TITLE */

.title {
	position: relative;
	z-index: 10;
	max-width: 768px;
	font-size: 26px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: -0.025em;
	pointer-events: none;
}

@media (width >= 768px) {
	.title {
		font-size: 36px;
	}
}

@media (width >= 1280px) {
	.title {
		font-size: 48px;
	}
}

.titleBrand {
	font-weight: 700;
	color: var(--color-system-background-100);
}

/* * */
/* DESCRIPTION */

.description {
	position: relative;
	z-index: 10;
	max-width: 672px;
	margin-top: 16px;
	color: var(--color-system-text-300);
	pointer-events: none;
}

@media (width >= 768px) {
	.description {
		font-size: 18px;
	}
}

/* * */
/* BUTTONS */

.buttonsContainer {
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	margin-top: 24px;
}

@media (width >= 768px) {
	.buttonsContainer {
		margin-top: 32px;
	}
}

.button {
	display: flex;
	gap: 6px;
	align-items: center;
	padding: 10px 14px;
	font-size: var(--font-size-sm);
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	background-color: rgb(255 255 255 / 5%);
	border: 1px solid rgb(255 255 255 / 15%);
	border-radius: 5px;
}

@media (width < 768px) {
	.button {
		width: 100%;
		justify-content: center;
	}
}

.button:hover {
	text-decoration: none;
	background-color: rgb(255 255 255 / 10%);
	border-color: rgb(255 255 255 / 35%);
}



.gforms {
	z-index: 10;
	margin-top: 24px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 0.75;
}

.gforms:hover {
	text-decoration: underline;
	opacity: 1;
}