/* * */
/* BADGES WRAPPER */

.badgesWrapper {
    display: flex;
	flex-direction: row;
	gap: 5px;
    align-items: center;
	justify-content: flex-start;
}

/* * */
/* NAME WRAPPER */

.nameWrapper {
	display: flex;
	flex-flow: row wrap-reverse;
	align-items: center;
	justify-content: flex-start;
}	