.container {
    display: flex;
    flex-direction: column;
    padding: var(--mantine-spacing-lg);
    gap: var(--mantine-spacing-lg);
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    padding: var(--mantine-spacing-lg);
    gap: var(--mantine-spacing-lg);
    width: 100%;
}
/* 
.padding_sm {
    padding: 6px;
    
    .mantine-Textarea-input {
        background-color: red !important;
    }
} */
 /* padding: var(--mantine-spacing-sm); */