.container {
    display: flex;
    flex-direction: column;
    /* padding: var(--mantine-spacing-lg); */
    gap: var(--mantine-spacing-lg);
    width: 100%;
    background-color: #22272e;
    border: 1px solid #2f343d;
    border-radius: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    padding: var(--mantine-spacing-lg);
    gap: var(--mantine-spacing-lg);
    width: 100%;
    border-bottom: 1px solid #424242;
}