.container {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-lg);
    width: 100%;
    background-color: #22272e;
    border: 1px solid #2f343d;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 89vh;
}

.section {
    display: flex;
    flex-direction: column;
    padding: var(--mantine-spacing-lg);
    gap: var(--mantine-spacing-lg);
    width: 100%;
    border-bottom: 1px solid #424242;
}

.grid {
    gap: var(--mantine-spacing-lg) !important;
}

.text_area {
    /* background-color: red; */
}

.text_area>div>textarea {
    height: 10vh;
    padding: 7px 15px;
}