/* * */
/* ROOT */

.root {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-md);
	height: 100%;
	padding: var(--size-spacing-lg);
	cursor: pointer;
	background-color: var(--color-system-background-200);
	border: 2px solid var(--color-system-border-100);
	border-radius: var(--border-radius-sm);
	transition: all 200ms ease-in-out;
	user-select: none;
}

.root:hover {
	border-color: var(--color-system-text-300);
}

.root[aria-checked="true"] {
	background-color: var(--color-background);
	border-color: var(--color-primary);
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.root[aria-disabled="true"],
.root[aria-disabled="true"] * {
	opacity: 0.95;
	cursor: not-allowed;
}

.root[aria-checked="false"][aria-disabled="true"] {
	border-color: var(--color-system-border-100);
}

/* * */
/* CHECKBOX */

.checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-xs);
	width: 100%;
}

.children {
	opacity: 1;
	transition: all 300ms ease-in-out;

	&[aria-disabled="true"] {
		opacity: 0.2;
	}
}

.roleIndicator {
	padding: var(--size-spacing-xs) var(--size-spacing-sm);
	margin-top: var(--size-spacing-xs);
	background-color: var(--color-secondary-light);
	border-left: 3px solid var(--color-secondary);
	border-radius: var(--border-radius-xs);
}