/* * */
/* CONTAINER */

.container {
	position: sticky;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	background-color: var(--color-system-background-100);
}

/* * */
/* TRIPS LEGEND */

.tripsLegend {
	display: grid;
	grid-template-columns: 75px 1fr 100px;
	gap: 2px;
	width: 100%;
}

/* * */
/* TRIPS LEGEND / COLUMN */

.tripsLegendColumn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	font-size: 15px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-system-text-100);
	background-color: var(--color-system-background-300);
}

.tripsLegendColumn:first-child {
	padding-left: 12px;
	border-top-left-radius: 999px;
	border-bottom-left-radius: 999px;
}

.tripsLegendColumn:last-child {
	border-top-right-radius: 999px;
	border-bottom-right-radius: 999px;
}
