.container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-md);
    justify-content: space-between;
    border-bottom: 1px solid #2f343d;
    cursor: pointer;
}

.container:hover {
    background-color: #171b21;
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
}

.name {
    /* color: #fff; */
}

.details {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md);
}

.id {
    font-family: Courier New, Courier, monospace;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1;
    color: #c1c2c5;
    border: 1px solid #5c5f66;
    padding: 3px 6px 2px;
    border-radius: var(--mantine-spacing-xs);
}

.coords {
    font-family: Courier New, Courier, monospace;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1;
    color: #c1c2c5;
    border: 1px solid #5c5f66;
    padding: 3px 6px 2px;
    border-radius: var(--mantine-spacing-xs);
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}