/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 20px;
	background-color: rgb(10 10 10);
	border: 3px solid rgb(20 20 20);
	border-radius: 5px;
}

/* * */
/* NUMBERS */

.hours,
.minutes,
.seconds {
	font-weight: 800;
	line-height: 1;
	color: #fff;
}

.seconds {
	opacity: 0.25;
}

.container[data-size="lg"] .hours,
.container[data-size="lg"] .minutes {
	font-size: 120px;
}

.container[data-size="lg"] .seconds {
	min-width: 60px;
	margin-top: 45px;
	font-size: 40px;
}

.container[data-size="md"] .hours,
.container[data-size="md"] .minutes {
	font-size: 72px;
}

.container[data-size="md"] .seconds {
	min-width: 36px;
	margin-top: 27px;
	font-size: 24px;
}

.container[data-size="sm"] .hours,
.container[data-size="sm"] .minutes {
	font-size: 48px;
}

.container[data-size="sm"] .seconds {
	min-width: 24px;
	margin-top: 18px;
	font-size: 16px;
}
