/* * */
/* CONTAINER */

.container,
.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.sizeMd svg {
	width: 24px;
	height: 24px;
}

.sizeLg svg {
	width: 32px;
	height: 32px;
}

/* * */
/* SEVERITY LEVEL */

.levelLow {
	color: var(--color-alerts-0);
}

.levelInfo {
	color: var(--color-alerts-1);
}

.levelMedium {
	color: var(--color-alerts-2);
}

.levelHigh {
	color: var(--color-alerts-3);
}
