/* * */
/* BUTTON */

.button {
	--size: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--size);
	min-width: var(--size);
	height: var(--size);
	min-height: var(--size);
	pointer-events: all;
	border: 2px solid transparent;
	border-radius: 100%;
	box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
	transition: 100ms all ease;
}

.button:active {
	transform: scale(0.85);
}

/* * */
/* BADGE */

.badge {
	position: absolute;
	top: -8px;
	right: -8px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 8px;
	font-size: 14px;
	font-weight: 700;
	color: var(--color-status-danger-contrast);
	text-align: center;
	background-color: var(--color-status-danger-primary);
	border-radius: 20px;
	box-shadow: 0 2px 5px 0 var(--color-status-danger-shadow);
}

/* * */
/* PROPS / VARIANT */

.button[data-variant='default'] {
	color: var(--color-system-text-200);
	background-color: var(--color-system-background-100);
	border-color: var(--color-system-border-100);
}

.button[data-variant='active'] {
	color: var(--color-status-active-contrast);
	background-color: var(--color-status-active-primary);
	border-color: var(--color-status-active-border);
}

.button[data-variant='disabled'] {
	color: var(--color-system-text-400);
	background-color: var(--color-system-background-100);
	border-color: var(--color-system-border-100);
	opacity: 0.9;
}

.button[data-variant='disabled']:active {
	transform: none;
}