.rideCard {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-sm);
	padding: var(--size-spacing-sm);
	cursor: pointer;
	user-select: none;
	background-color: var(--color-background-secondary);
	border: 2px solid var(--color-system-border-200);
	border-radius: var(--border-radius-md);
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

	&:hover:not([data-selected="true"]) {
		background-color: rgb(from var(--color-status-success-primary) r g b / 10%);
		border-color: var(--color-status-success-primary);		
		border-style: dashed;
	}

	&[data-selected="true"] {
		background-color: rgb(from var(--color-status-success-primary) r g b / 3%);
		border-color: var(--color-status-success-primary);
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-xs);
}