.headerActions {
	justify-self: end;
	display: inline-flex;
	align-items: center;
	gap: var(--size-spacing-sm);
	z-index: 1;
}

@media (width < 768px) {
	.headerActions {
		display: none;
	}

	.mobileActionsPanel {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		gap: 20px;
		padding: 12px 12px 12px 12px;
	}
}