/* * */
/* ATTRIBUTION */

.attribution {
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	gap: var(--size-spacing-md);
    padding: 5px 5px 2px;
	font-size: 8px;
	font-weight: var(--font-weight-semibold);
	line-height: 1;
	color: var(--color-system-text-300);
	background-color: var(--color-system-background-200);
	border-top-left-radius: 5px;
	opacity: 0.1;
	transition: opacity 200ms ease-in-out 200ms;
}

.attribution:hover {
	opacity: 1;
}

/* * */
/* LINKS */

.link:hover {
	color: var(--color-system-text-100);
	text-decoration: underline;
}