.buttonPlaying {
	--progress: 0%;
	background-image: linear-gradient(
		to right,
		color-mix(in srgb, var(--mantine-color-white) 35%, transparent),
		color-mix(in srgb, var(--mantine-color-white) 35%, transparent)
	);
	background-size: var(--progress) 100%;
	background-repeat: no-repeat;
}