
.container {
    position: relative;
    display: flex;
    flex-direction: column;

    /* gap: var(--size-spacing-md); */
}

.box:nth-last-child(1) > .item > .itemWrapper > .icon {
    background-color: green;
}