/* * */
/* CONTAINER */

.container {
	position: fixed;
	top: var(--route-planner-floating-controls-top, calc(env(safe-area-inset-top, 0px) + 84px));
	left: 15px;
	z-index: 15;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: var(--color-system-text-400);
	background-color: var(--color-system-background-100);
	border-radius: 16px;
	box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
	transition: top 180ms ease, opacity 180ms ease;
}

.container[data-layout='route-results-short'],
.container[data-layout='route-results-medium'] {
	top: var(--route-planner-floating-controls-top, calc(env(safe-area-inset-top, 0px) + 84px));
}

.container[data-layout='route-results-full'] {
	opacity: 0;
	pointer-events: none;
}

/* * */
/* BUTTON */

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-bottom: 1px solid var(--color-system-border-100);
	transition: 100ms all ease;
}

.button:last-child {
	border-bottom: none;
}

.button:active {
	background-color: var(--color-system-background-200);
}

/* * */
/* PROPS / ENABLED */

.button[data-enabled="true"] {
	color: var(--color-system-text-100);
}
