/* * */
/* CONTAINER */

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family-monospace);
	font-weight: var(--font-weight-bold);
	line-height: 1;
	color: var(--color-system-text-300);
	text-align: center;
	text-transform: uppercase;
	text-wrap: nowrap;
	cursor: pointer;
	background-color: transparent;
	border-radius: 999px;
}

/* * */
/* PROPS / SIZE */

.container[data-size='md'] {
	font-size: 10px;
	letter-spacing: 0.5px;
}

.container[data-size='lg'] {
	font-size: 14px;
	letter-spacing: 0.5px;
}

/* * */
/* PROPS / WITH BORDER */

.container[data-with-border='true'] {
	background-color: var(--color-system-background-200);
	border: 1px solid var(--color-system-border-200);
}

.container[data-with-border='true'][data-size='md'] {
	padding: 3px 8px;
}

.container[data-with-border='true'][data-size='lg'] {
	padding: 3px var(--size-spacing-15);
}