[Unit]
Description=Vault Server
Requires=network-online.target consul.service
After=network-online.target consul.service
ConditionFileNotEmpty=/etc/vault.d/vault.hcl

[Service]
User=vault
Group=vault
ExecStart=/usr/bin/vault server -config=/etc/vault.d/vault.hcl
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=65536
ProtectSystem=full
ProtectHome=read-only
PrivateTmp=yes
SecureBits=keep-caps
AmbientCapabilities=CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target