/* * */
/* CONTENT WRAPPER */

.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding-left: 20px;
}

/* * */
/* INFO BAR */

.infoBar {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
}

/* * */
/* DESCRIPTION */

.description {
	max-width: 100%;
	padding-right: 20px;
	font-size: var(--font-size-text);
	font-weight: 400;
	color: var(--color-system-text-200);
	white-space: pre-wrap;
}

/* * */
/* IMAGE WRAPPER */

.imageWrapper {
	width: 100%;
	padding-right: 20px;
	padding-bottom: 20px;
}

.item {
	padding: 20px;
}
