.container {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.label {
    /* flex-grow: 1; */
    /* min-width: 100%; */
    /* width: 100%; */
}

.input {
    /* flex-grow: 1; */
    /* min-width: 100%; */
    /* width: 100%; */
}