/* * */
/* BADGE GROUP */

.badgeGroup {
	display: flex;
	flex-direction: row;
	gap: 3px;
	align-items: center;
	justify-content: flex-start;
	margin-left: 15px;
	animation: fade-in 1000ms ease-out;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* * */
/* BADGE */

.badge {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 18px;
	padding: 0 6px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.5px;
	white-space: nowrap;
	border-radius: 999px;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}


/* * */
/* MORE */

.more {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 18px;
	padding: 0 6px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.5px;
	white-space: nowrap;
	background-color: white;
	border-radius: 999px;
	box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}