.header {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--mantine-spacing-sm);
}

.section {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    align-items: center;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 var(--border-radius-sm);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
}

.icon:hover {
    background-color: var(--color-system-text-100);
}

.iconBlue {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 var(--border-radius-sm);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
}

.iconBlue>svg {
    stroke: var(--color-status-info-primary);
}

.iconBlue:hover {
    background-color: var(--color-system-text-100);
}

.iconGreen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 var(--border-radius-sm);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
}

.iconGreen>svg {
    stroke: var(--color-brand-go-100);
}

.iconGreen:hover {
    background-color: var(--color-system-text-100);
}