.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.calendar {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}