/* * */
/* VALUE */

.container {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: flex-start;
}

/* * */
/* LABEL */

.label {
	font-size: 16px;
	font-weight: var(--font-weight-bold);
	font-variant-numeric: tabular-nums;
	line-height: 1.1;
	color: var(--color-system-text-100);
	text-wrap: nowrap;
}

.container[data-is-realtime='true'] .label {
	color: var(--color-status-active-primary);
}
