/* * */
/* LABEL */

.label {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	color: var(--color-system-text-200);
	text-transform: uppercase;
}

/* * */
/* VALUE */

.value {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-normal);
}

.value[data-strong='true'] {
	font-weight: var(--font-weight-bold);
}
