.root {
	min-width: 0;
	overflow-y: auto;
	border-right: 1px solid var(--color-system-border-100);
}

@media (width <= 1000px) {
	.root {
		overflow-y: visible;
		border-right: 0;
		border-bottom: 1px solid var(--color-system-border-100);
	}
}
