# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #


ENVIRONMENT="staging"


## DATABASE
DATABASE_URI="..."


## PCGIDB
PCGIDB_USER="..."
PCGIDB_PASSWORD="..."
PCGIDB_ADDRESS="..."
PCGIDB_PORT="..."


## PCGIDB (SSH TUNNEL)
PCGIDB_TUNNEL_LOCAL_PORT="..."
PCGIDB_TUNNEL_SSH_HOST="..."
PCGIDB_TUNNEL_SSH_USERNAME="..."