.container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    align-items: center;
    justify-content: space-between;
    padding: var(--mantine-spacing-sm);
    border-bottom: 1px solid #2f343d;
}

.inputText {
    width: 100%;
}

.settings {
    min-width: 34px;
    min-height: 34px;
    cursor: pointer;
    background-color: aqua;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 4px;
    cursor: pointer;
    background-color: var(--mantine-color-gray-light);
    border-radius: 0.25rem;
}

.icon:hover {
    background-color: #363C42;
}

.breadcrumbs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}