:root {
	--theme-ocean-color-primary: #005ADC;
	--theme-ocean-color-secondary: #0041A0;
	--theme-ocean-color-background: #E6F0FF;
	--theme-ocean-color-contrast: #FFF;
	--theme-ocean-color-shadow: #000A5040;
	--theme-ocean-chart-color-1: #005ADC;
	--theme-ocean-chart-color-2: #1A6FE6;
	--theme-ocean-chart-color-3: #3384F0;
	--theme-ocean-chart-color-4: #0041A0;
	--theme-ocean-chart-color-5: #002B6B;
}

:root[data-mode="dark"] {
	--theme-ocean-color-primary: #2864B9;
	--theme-ocean-color-secondary: #1E4B96;
	--theme-ocean-color-background: #1E283C;
	--theme-ocean-color-contrast: #CDE1FF;
	--theme-ocean-color-shadow: #00083D40;
	--theme-ocean-chart-color-1: #2864B9;
	--theme-ocean-chart-color-2: #3975C3;
	--theme-ocean-chart-color-3: #4A86CD;
	--theme-ocean-chart-color-4: #1E4B96;
	--theme-ocean-chart-color-5: #143373;
}

/* * */

:root[data-theme="ocean"] {
	--color-primary: var(--theme-ocean-color-primary);
	--color-secondary: var(--theme-ocean-color-secondary);
	--color-background: var(--theme-ocean-color-background);
	--color-contrast: var(--theme-ocean-color-contrast);
	--color-shadow: var(--theme-ocean-color-shadow);
	--chart-color-1: var(--theme-ocean-chart-color-1);
	--chart-color-2: var(--theme-ocean-chart-color-2);
	--chart-color-3: var(--theme-ocean-chart-color-3);
	--chart-color-4: var(--theme-ocean-chart-color-4);
	--chart-color-5: var(--theme-ocean-chart-color-5);
}