/* * */
/* HEADER SECTION */

.section[data-padding] {
	padding-top: 0;
}

/* * */
/* ALERT TITLE */

.alertTitle {
	flex: 1;
	min-width: 0;
	margin: 0;
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
}

/* * */
/* ROW */

.row {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}

.agencyLogo {
	flex-shrink: 0;
	object-fit: contain;
}
