/* * */
/* HEADER SECTION */

.section[data-padding] {
	padding-top: 0;
}

/* * */
/* ALERT TITLE */

.alertTitle {
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	color: var(--color-system-text-100);
}

/* * */
/* ROW */

.row {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: center;
}
