/* * */
/* CONTENT */

.content {
	background-color: transparent;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}

/* * */
/* HEADER */

.header {
	background-color: transparent;
}

/* * */
/* BODY */

.body {
	position: relative;
	min-height: 100vh;
	margin-top: -90px;
	overflow: hidden;
	background-color: var(--color-system-background-200);
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
}