# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #

ENVIRONMENT="development"


## DATABASE
DATABASE_URI="..."

## CLICKHOUSE
CLICKHOUSE_DATABASE=""
CLICKHOUSE_URI=""