/* * */

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	transition: padding-right 200ms ease-in-out;
}

.container[data-expanded="true"] {
	padding-right: 5px;
}