/* * */

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-bottom: var(--size-spacing-md);
	overflow: hidden;
}

.container[data-expanded="true"] {
	overflow-y: auto;
}