.label {
    font-size: var(--font-size-xs);
    font-weight: 500;
    
    & > span {
        &[data-variant='success'] {
            color: var(--color-status-success-primary);
        }

        &[data-variant='danger'] {
            color: var(--color-status-danger-primary);
        }

        &[data-variant='warning'] {
            color: var(--color-status-warning-primary);
        }
    }
}