.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color-system-text-200);
    gap: var(--size-spacing-2xl);
    padding: var(--size-spacing-4xl);

    & h2 {
        text-transform: uppercase;
    }

    & ol {
        list-style-type: decimal;
        padding-left: var(--size-spacing-4xl);
        font-size: var(--font-size-md);

        & h3 {
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-bold);
        }
    }

    & li {
        margin-bottom: var(--size-spacing-xl);
    }

    & a {
        color: var(--color-primary);
        
        &:hover {
            text-decoration: underline;
        }
    }
}