/* INPUT */

.input {
	height: auto;
	max-height: none;
	padding: 10px 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	line-height: 1;
	white-space: nowrap;
	appearance: none;
	background-color: var(--color-system-background-100);
	border: 2px solid var(--color-system-text-300);
	border-radius: var(--border-radius-sm);
}

.input::placeholder {
	color: var(--color-system-text-300);
}

.wrapper[data-with-left-section="true"] .input {
	padding-left: calc(var(--size-spacing-sm) + 30px);
}

.wrapper[data-with-right-section="true"] .input {
	padding-right: calc(var(--size-spacing-sm) + 30px);
}

.input.variantWhite {
	color: var(--color-primary-black);
	background-color: var(--color-primary-white);
	border-color: #bebec8;
}

/* * */
/* SECTION */

.section {
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: var(--size-spacing-sm);
	color: var(--color-system-text-300);
}

.section[data-position="left"] {
	pointer-events: none;
}

.section.variantWhite {
	color: var(--color-system-text-300);
}

.sizeSm{
	font-size: 1px;
	line-height: var(--font-line-height);
}

/* * */
/* LABEL */

.label {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-100);
}

/* * */
/* DESCRIPTION */

.description {
	margin-top: 0;
	margin-bottom: 0;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-200);
}

/* * */
/* overflow */

.overflow {
	overflow: scroll;
}