[Unit]
Description=NOMAD CLIENT
After=network-online.target consul.service docker.service
Requires=network-online.target consul.service docker.service
ConditionFileNotEmpty=/etc/nomad.d/nomad.hcl

[Service]
ExecStart=/usr/bin/nomad agent -config=/etc/nomad.d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=65536
KillMode=process

[Install]
WantedBy=multi-user.target