/* * */
/* CONTAINER */

.container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
}

/* * */
/* TOOLBAR */

.toolbar {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 10px;
	width: 100%;
}
