.container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md);
    justify-content: space-between;
    padding: var(--mantine-spacing-md);
    cursor: pointer;
    border-bottom: 1px solid var(--color-system-text-100);
}

.container:hover {
    background-color: var(--color-system-background-300);;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
}

.details {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md);
}

.id {
    padding: var(--size-spacing-xs) var(--size-spacing-sm) var(--size-spacing-xs);
    font-family: "Courier New", Courier, monospace;
    font-size: var(--font-size-xs);
    font-weight: 600;
    line-height: 1;
    color: var(--color-system-text-100);
    letter-spacing: 1px;
    border: 1px solid var(--color-system-text-200);
    border-radius: var(--mantine-spacing-xs);
}

.coords {
    padding: var(--size-spacing-xs) var(--size-spacing-sm) var(--size-spacing-xs);
    font-family: "Courier New", Courier, monospace;
    font-size: var(--font-size-xs);
    font-weight: 600;
    line-height: 1;
    color: var(--color-system-text-100);
    letter-spacing: 1px;
    border: 1px solid var(--color-system-text-200);
    border-radius: var(--mantine-spacing-xs);
}