
.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-sm);
	width: 100%;
	min-height: fit-content;
	margin-bottom: var(--size-spacing-md);
}


.fileContainer {
	position: relative;
	width: 100%;
	padding: var(--size-spacing-sm);
}

.deleteContainer {
	position: absolute;
	top: 5px;
	right: 5px;
}