/* * */
/* OPERATORS */

.operatorsContainer {
    display: flex;
    gap: var(--size-spacing-sm);
    margin-top: var(--size-spacing-lg);
}

.operator {
    display: flex;
	align-items: center;
    cursor: pointer;
    background-color: var(--color-system-background-300);
    border-radius: var(--border-radius-sm);
	color: var(---color-system-text-300);
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--color-system-border-100);
}

.mutedOperator {
    /* opacity: 0.8; */
     background-color: var(--color-system-background-100);
}