# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #


ENVIRONMENT="staging"


## DATABASE
DATABASE_URI="..."


## TTS
TTS_API_URL="http://localhost:52013"