.header {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--mantine-spacing-sm);
}

.section {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    align-items: center;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.icon:hover {
    background-color: #363C42;
}

.iconBlue {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.iconBlue>svg {
    stroke: #1E4B96;
}

.iconBlue:hover {
    background-color: #253A53;
}

.iconGreen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 4px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.iconGreen>svg {
    stroke: #8CE999;
}

.iconGreen:hover {
    background-color: #344B37;
}