.title {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-system-text-100);
}

.body {
	padding: 10px;
}

.accordionRoot {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-10);
}

.accordionItem {
	overflow: hidden;
	border: 1px solid var(--color-system-border-100);
	border-radius: 10px;
}

.accordionItemControl {
	gap: 10px;
	padding: 10px;
	background-color: var(--color-system-background-100);
	border: none;
}

.accordionItemControlLabel {
	font-size: 18px;
	font-weight: 600;
	color: var(--color-system-text-100);
}

.accordionItemPanel {
	margin: 0;
	padding: 0 10px 10px;
	font-size: 14px;
	line-height: 1.5;
	color: var(--color-system-text-200);
	white-space: pre-wrap;
}
