/* * */
/* CONTAINER */

.container {
	display: flex;
	background-color: var(--color-system-border-100);
}

/* * */
/* PROPS / ORIENTATION */

.container[data-orientation="vertical"] {
	width: 1px;
	min-width: 1px;
	max-width: 1px;
	height: 100%;
}

.container[data-orientation="horizontal"] {
	width: 100%;
	height: 1px;
	min-height: 1px;
	max-height: 1px;
}
