.root {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-md);
	height: 100%;
	padding: var(--size-spacing-lg);
	cursor: pointer;
	background-color: var(--color-system-background-200);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-sm);
	transition: all 300ms ease-in-out;

	& * {
		user-select: none;
	}

	&[aria-checked="false"]:hover {
		background-color: var(--color-system-background-200);
		box-shadow: 1px 5px 3px 1px var(--color-system-background-200);
		scale: 1.01;
	}

	&[aria-checked="true"] {
		background-color: var(--color-background);
		border-color: var(--color-primary);
	}
}

.root.disabled {
	cursor: not-allowed;
	opacity: 0.5;

	&[aria-checked="false"]:hover {
		background-color: var(--color-system-background-200);
		box-shadow: none;
		scale: 1;
	}
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-xs);
	width: 100%;
}

.children {
	opacity: 1;
	transition: all 300ms ease-in-out;

	&[aria-disabled="true"] {
		opacity: 0.2;
	}
}