/* * */
/* ROW */

.row {
	display: flex;
	width: min-content;
	min-width: 100%;
	background-color: var(--color-system-background-100);
	border-bottom: 1px solid var(--color-system-border-100);
}

.row:hover {
	background-color: var(--color-system-background-200);
}

/* * */
/* ROW / IS CLICKABLE */

.row[data-is-clickable='true'] {
	cursor: pointer;
}

/* * */
/* * */
/* * */

.cell {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: var(--size-spacing-md);
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	line-height: var(font-line-height);
	color: var(--color-system-text-100);
}

.center {
	justify-content: center;
}