# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #
ENVIRONMENT=development

# OTHER
## INTERFACES
TML_INTERFACE_STOPS=mongodb://root:root@localhost:37002/?directConnection=true

## FILES CLOUD
OCI_BUCKET_NAME=
OCI_ACCESS_KEY_ID=
OCI_SECRET_ACCESS_KEY=
OCI_NAMESPACE=
OCI_REGION=
TML_INTERFACE_FILES_STORAGE_TYPE=