# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #
ENVIRONMENT=development

# OTHER
DATABASE_URI=...
API_PORT=5200X
 
## FILES CLOUD
OCI_USER=...
OCI_FINGERPRINT=...
OCI_TENANCY=...
OCI_REGION=...
OCI_PRIVATE_KEY=...
OCI_NAMESPACE=...
OCI_BUCKET_NAME=...
TML_INTERFACE_FILES_STORAGE_TYPE=...

## EMAIL
TML_PROVIDER_EMAIL_SERVER_PASSWORD=...
TML_PROVIDER_EMAIL_SERVER_USER=...
TML_PROVIDER_EMAIL_FROM=...
TML_PROVIDER_EMAIL_SERVER_HOST=...
TML_PROVIDER_EMAIL_SERVER_PORT=...
