# # # # # # # # # # # # # #
#         DATABASE        #
# # # # # # # # # # # # # #

# MongoDB Configuration
# Production MongoDB
PROD_HOST=...
PROD_USERNAME=...
PROD_PASSWORD=...
PROD_AUTH_DATABASE=...
PROD_DB=...

# Staging MongoDB
STAGING_HOST=...
STAGING_USERNAME=...
STAGING_PASSWORD=...
STAGING_AUTH_DATABASE=...
STAGING_DB=...

# Collections to exclude from sync (space-separated)
EXCLUDE_COLLECTIONS=...

# # # # # # # # # # # # # #
#          STORAGE        #
# # # # # # # # # # # # # #

# Rclone Configuration
STORAGE_SOURCE=...
STORAGE_DEST=...
STORAGE_REMOTE_NAME=...
STORAGE_TYPE=...

# OCI Configuration
OCI_COMPARTMENT=...
OCI_FINGERPRINT=...
OCI_NAMESPACE=...
OCI_REGION=...
OCI_TENANCY=...
OCI_USER=...
ARTIFACTS_BUCKET=...
ARTIFACTS_PREFIX=...

OCI_KEY_FILE=...

