/* Override Mantine Calendar selected day styles */
.day[data-selected="true"] {
	color: white !important;
	background-color: var(--color-primary) !important;
}

.day[data-selected="true"]:hover {
	background-color: var(--color-primary) !important;
	opacity: 0.9;
}
