.containerSpecific {
    width: 100%;
    height: 400px;
    min-height: 400px;
}

.sessionSpecific {
    width: 100%;
    height: 400px;
}

.containerGeneric {
    width: 100%;
    height: 90vh;
}

.sessionGeneric {
    width: 100%;
    height: 90vh;
}