.popup {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px;
}

.id {
	font-family: monospace;
	font-size: 11px;
	color: var(--mantine-color-gray-6);
}

.name {
	font-size: 14px;
	font-weight: 600;
	color: var(--mantine-color-gray-9);
}

.value {
	font-size: 13px;
	color: var(--mantine-color-gray-7);
}

.anchorPreview {
	width: 22px;
	height: 22px;
	pointer-events: none;
	background: var(--color-system-background-100);
	border: 3px solid var(--color-system-text-300);
	border-radius: 3px;
	box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
	transform: rotate(45deg);
}

.anchorPreview[data-mode='dragging'] {
	transform: rotate(45deg) scale(1.15);
}