/* * */
/* PILLS INPUT */

.pillsInputPillGroup {
	display: flex;
	flex-wrap: wrap;
	gap: var(--size-spacing-xs);
	padding: 0;
	border: none;
}

.pillsInputField {
	padding: var(--size-spacing-xs);
}

/* * */
/* PILL */

.pill {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-100);
	cursor: auto;
	background-color: var(--color-system-background-200);
    border-radius: var(--border-radius-xs);
	box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 15%);

	& * {
		user-select: none;
	}
}