# COMMON
NODE_ENV=development

NEXT_PUBLIC_URL=http://localhost:51001
NEXT_PUBLIC_AUTH_URL=http://localhost:51000

FRONTEND_PORT=51001
API_PORT=52001

# OTHER
## INTERFACES
TML_INTERFACE_ALERTS=mongodb://root:root@localhost:37001
