/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: black;
}

.content {
	display: flex;
	flex: 1;
	min-height: 0;
}
