# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #


ENVIRONMENT="staging"


# GENERAL
COORDINATOR_URL="http://coordinator:5050"


# DATABASE
DATABASE_URI="..."


# FILES
OCI_USER="..."
OCI_FINGERPRINT="..."
OCI_TENANCY="..."
OCI_REGION="..."
OCI_PRIVATE_KEY_PATH="..."
OCI_NAMESPACE="..."
OCI_BUCKET_NAME="..."
STORAGE_TYPE="..."


# EMAIL
TML_PROVIDER_EMAIL_FROM="..."
TML_PROVIDER_EMAIL_SERVER_PORT="..."
TML_PROVIDER_EMAIL_SERVER_HOST="..."
TML_PROVIDER_EMAIL_SERVER_USER="..."
TML_PROVIDER_EMAIL_SERVER_PASSWORD="..."


# BRIDGEDB (POSTGRES)
POSTGRES_DB="..."
POSTGRES_USER="..."
POSTGRES_PASSWORD="..."


# BRIDGEDB
BRIDGEDB_HOST="..."
BRIDGEDB_PORT="..."
BRIDGEDB_DB="..."
BRIDGEDB_USER="..."
BRIDGEDB_PASSWORD="..."