.root {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	background: var(--color-system-background-100);
	border: 1px solid var(--color-system-border-100);
	border-radius: var(--border-radius-md);
	box-shadow: 0 1px 2px rgb(15 23 42 / 3%);
}

.item {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	min-height: 58px;
	padding: 12px 18px;
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-100);
}

.item + .item {
	border-left: 1px solid var(--color-system-border-100);
}

.item[data-tone='danger'] svg {
	color: var(--color-status-danger-primary);
}

.item[data-tone='warning'] svg {
	color: var(--color-status-warning-primary);
}

.item[data-tone='success'] svg {
	color: var(--color-status-success-primary);
}

@media (width <= 1000px) {
	.root {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.item:nth-child(3) {
		border-left: 0;
	}

	.item:nth-child(n + 3) {
		border-top: 1px solid var(--color-system-border-100);
	}
}

@media (width <= 620px) {
	.root {
		grid-template-columns: 1fr;
	}

	.item {
		justify-content: flex-start;
	}

	.item + .item {
		border-top: 1px solid var(--color-system-border-100);
		border-left: 0;
	}
}
