.errorContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-spacing-md);
	background-color: var(--color-status-danger-primary);
	padding: var(--size-spacing-md);
	width: 100%;
	border-radius: var(--border-radius-xl);
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.3);

	& * {
		color: var(--color-status-danger-contrast);
	}
}
