.errorContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-spacing-md);
	background-color: var(--color-status-danger-primary);
	padding: var(--size-spacing-md);
	width: 100%;
}
