.badge {
    width: fit-content;
    min-width: fit-content;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    border: 2px solid transparent;
    border-radius: var(--border-radius-xs);
    box-shadow: 0 1px 3px 0 var(--color-shadow);
    transition: all 300ms ease-in;
}

.fontxs {
    font-size: var(--font-size-xs);
}

.fontsm {
    font-size: var(--font-size-sm);
}

.fontbase {
    font-size: var(--font-size-md);
}

.fontlg {
    font-size: var(--font-size-lg);
}

.fontxl {
    font-size: var(--font-size-xl);
}

.tag {
    padding: var(--size-spacing-md) var(--size-spacing-lg);
    border-width: 0;
}

.pill {
    padding: 2px 10px;
    border-width: 2px;
    border-radius: var(--border-radius-xl);
}

.fullWidth {
    width: 100%;
}

.primary {
	color: var(--color-primary);
	background-color: var(--color-background);
    border-color: var(--color-primary);
}

.primary[data-active="true"] {
    color: var(--color-contrast);
	background-color: var(--color-primary);
}

.secondary {
	color: var(--color-secondary);
	background-color: var(--color-background);
    border-color: var(--color-secondary);
}

.secondary[data-active="true"] {
    color: var(--color-contrast);
	background-color: var(--color-secondary);
}

.muted {
	color: var(--color-system-text-100);
    background-color: var(--color-system-background-200);
    border-color: var(--color-system-text-100);
}

.disabled {
    color: var(--color-system-text-300);
    background-color: var(--color-system-background-300);
    border-color: var(--color-system-text-300);
}

.danger {
	color: var(--color-status-danger-primary);
	background-color: var(--color-status-danger-contrast);
    border-color: var(--color-status-danger-primary);
}

.danger[data-active="true"] {
    color: var(--color-status-danger-contrast);
	background-color: var(--color-status-danger-primary);
    border-color: var(--color-status-danger-contrast);
}

.info {
	color: var(--color-status-info-primary);
	background-color: var(--color-status-info-contrast);
    border-color: var(--color-status-info-primary);
}

.info[data-active="true"] {
    color: var(--color-status-info-contrast);
	background-color: var(--color-status-info-primary);
    border-color: var(--color-status-info-contrast);
}

.success {
	color: var(--color-status-success-primary);
	background-color: var(--color-status-success-contrast);
    border-color: var(--color-status-success-primary);
}

.success[data-active="true"] {
    color: var(--color-status-success-contrast);
	background-color: var(--color-status-success-primary);
    border-color: var(--color-status-success-contrast);
}

.warning {
	color: var(--color-status-warning-primary);
	background-color: var(--color-status-warning-contrast);
    border-color: var(--color-status-warning-primary);
}

.warning[data-active="true"] {
    color: var(--color-status-warning-contrast);
	background-color: var(--color-status-warning-primary);
    border-color: var(--color-status-warning-contrast);
}

.active {
	color: var(--color-status-active-primary);
	background-color: var(--color-status-active-contrast);
    border-color: var(--color-status-active-primary);
}

.active[data-active="true"] {
    color: var(--color-status-active-contrast);
	background-color: var(--color-status-active-primary);
    border-color: var(--color-status-active-contrast);
}

/* *
 * Button
 * * */

.button {
    width: fit-content;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: none;
    border: none;
}

.button[aria-disabled="true"] {
    cursor: not-allowed;
}