.container {
	display: flex;
	gap: 8px;
	width: 100%;
}

.day {
	flex: 1;
	min-width: 40px;
	padding: 8px 4px;
	font-size: 14px;
	font-weight: 500;
	color: inherit;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid var(--mantine-color-gray-4);
	border-radius: 4px;
	transition: all 200ms ease;
}

.day:hover {
	background-color: var(--mantine-color-gray-1);
}

.day.selected {
	color: white;
	background-color: var(--mantine-color-blue-filled);
	border-color: var(--mantine-color-blue-filled);
}

.day.selected:hover {
	background-color: var(--mantine-color-blue-filled-hover);
	border-color: var(--mantine-color-blue-filled-hover);
}
