# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #


ENVIRONMENT="staging"


## DATABASE
DATABASE_URI="..."


## PCGIDB LEGACY
PCGIDB_LEGACY_USER="..."
PCGIDB_LEGACY_PASSWORD="..."
PCGIDB_LEGACY_ADDRESS_1="..."
PCGIDB_LEGACY_ADDRESS_2="..."
PCGIDB_LEGACY_ADDRESS_3="..."
PCGIDB_LEGACY_PORT="..."


## PCGIDB VALIDATIONS
PCGIDB_VALIDATIONS_USER="..."
PCGIDB_VALIDATIONS_PASSWORD="..."
PCGIDB_VALIDATIONS_ADDRESS_1="..."
PCGIDB_VALIDATIONS_ADDRESS_2="..."
PCGIDB_VALIDATIONS_ADDRESS_3="..."
PCGIDB_VALIDATIONS_PORT="..."


## PCGIDB TICKETING
PCGIDB_TICKETING_USER="..."
PCGIDB_TICKETING_PASSWORD="..."
PCGIDB_TICKETING_ADDRESS_1="..."
PCGIDB_TICKETING_ADDRESS_2="..."
PCGIDB_TICKETING_ADDRESS_3="..."
PCGIDB_TICKETING_PORT="..."


## PCGIDB (SSH TUNNEL)
PCGIDB_TUNNEL_LOCAL_PORT="..."
PCGIDB_TUNNEL_SSH_HOST="..."
PCGIDB_TUNNEL_SSH_USERNAME="..."


## CLICKHOUSE
CLICKHOUSE_HOST="..."
CLICKHOUSE_PORT="8443"
CLICKHOUSE_USERNAME="..."
CLICKHOUSE_PASSWORD="..."
CLICKHOUSE_TLS="true"

# Cascais Próxima
CAP_API_USERNAME='...'
CAP_API_PASSWORD='...'