.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--mantine-spacing-sm);
}

.button {
    color: var(--color-system-background-100);
    background-color: var(--color-system-text-200);
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 transparent;
}

.button:hover {
    background-color: var(--color-system-text-100);
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px var(--size-spacing-xs);
    height: 100%;
    cursor: pointer;
    border-radius: var(--size-spacing-xs);
    aspect-ratio: 1 / 1;
}

.icon:hover {
    background-color: var(--color-system-text-100);
}