.container {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-md);
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-spacing-md);
    padding: var(--size-spacing-md);
}

.active {
    border: 2px solid #1964AB;
    border-radius: 21px;
}

.description {
    color: #828282;
}