.container {
    align-self: center;
    display: flex;
    flex-direction: row;
    font-size: small;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-spacing-md);
    padding: var(--size-spacing-md);
}

.active {
    border: var(--size-spacing-xs) solid var(--color-status-active-primary);
    border-radius: var(--border-radius-lg);
}

.description {
    color: var(--color-system-text-200);
}