.container {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-md);
}

.button {
    background-color: var(--color-status-active-primary);
    border-color: var(--color-status-active-primary);
    box-shadow: none;
}