/* * */
/* TARGET */

.target {
	position: relative;
	padding: 4px 0;
	overflow: visible;
}

/* * */
/* COUNTER */

.counter {
	position: absolute;
	top: 0;
	right: -4px;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--size-spacing-xs);
	font-size: var(--font-size-xs);
	color: var(--color-contrast);
	border-radius: 14px;
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.counter.primary {
	background-color: var(--color-primary);
}

.counter.danger {
	background-color: var(--color-status-danger-primary);
}

.counter.neutral {
	background-color: var(--color-system-text-200);
}