/* * */
/* ROOT */

.root {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid var(--color-system-border-200);

    
    /* * */
    /* PROPS / SEPARATOR TYPE */
    &[data-separator-type="dashed"] {
        border-bottom: 1px dashed var(--color-system-border-100);
    }

    &[data-separator-type="solid"] {
        border-bottom: 1px solid var(--color-system-border-100);
    }

    /* * */
    /* PROPS / MARGIN */

    &[data-margin="sm"] {
        width: 98%;
    }

    &[data-margin="md"] {
        width: 85%;
    }

    &[data-margin="lg"] {
        width: 70%;
    }

    &[data-margin="none"] {
        width: 100%;
    }
}