/* * */
/* ICON WRAPPER */

.iconWrapper {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 2.75rem;
	height: 2.75rem;
	color: var(--color-primary);
	background-color: var(--color-background);
	border-radius: var(--border-radius-sm);
}
