.itemWrapper {
    display: grid;
    grid-template-rows: 24px 1fr;
    align-items: center;
}

.item {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: var(--size-spacing-sm);
}

.icon {
    z-index: 2;
    background-color: var(--color-system-background-100);
}

.path {
    width: 2px;
    height: 100%;
    margin: auto;
    background-color: var(--color-system-border-100);
}

.item:last-child .path {
    display: none;
}

.label {
    font-size: var(--font-size-sm);
    font-weight: 500;
    
    & > span {
        &[data-variant='success'] {
            color: var(--color-status-success-primary);
        }

        &[data-variant='danger'] {
            color: var(--color-status-danger-primary);
        }

        &[data-variant='warning'] {
            color: var(--color-status-warning-primary);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-xs);
    padding-bottom: var(--size-spacing-md);
}