/* * */
/* BADGE */

.badge {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	line-height: 1;
	color: var(--color-system-background-100);
	letter-spacing: 1px;
	background-color: var(--color-system-text-200);
	border-radius: 999px;
}

/* * */
/* PROPS / SIZE */

.badge[data-size='md'] {
	min-width: 55px;
	max-width: 55px;
	min-height: 26px;
	max-height: 26px;
	font-size: 16px;
}

.badge[data-size='lg'] {
	min-width: 85px;
	max-width: 85px;
	min-height: 34px;
	max-height: 34px;
	font-size: 22px;
}

/* * */
/* PROPS / CLICKABLE */

.badge[data-clickable='true'] {
	cursor: pointer;
	transition: all 200ms ease;
}

/* * */
/* PROPS / AGENCY ID */

.badge[data-agency-id='41'],
.badge[data-agency-id='42'],
.badge[data-agency-id='43'],
.badge[data-agency-id='44'] {
	min-width: 65px;
	max-width: 65px;
}

.badge[data-agency-id='15'] {
	min-width: 90px;
	max-width: 90px;
	letter-spacing: -0.5px;
}

/* * */
/* ALERT ICON */

.alertIcon {
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	color: var(--color-status-info-text);
	background-color: var(--color-primary-white);
	border-radius: 999px;
}