/* .container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: stretch;
    justify-content: stretch;
    gap: var(--mantine-spacing-sm);
    height: 100%;
    flex-grow: 1;
    position: relative;
    width: 100%;
    grid-template-columns: 350px 1fr;
    padding: var(--mantine-spacing-sm);
} */