/* * */
/* WRAPPER */

.wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: var(--size-spacing-sm);
}

.name {
	font-weight: var(--font-weight-semibold);
	font-size: 30px;
	color: var(--color-system-text-100);
}

.location {
	font-weight: var(--font-weight-medium);
	font-size: 22px;
	color: var(--color-system-text-100);
}

.coordinates {
	font-family: 'Courier New', Courier, monospace;
	font-weight: var(--font-weight-bold);
	font-size: 18px;
	color: var(--color-system-text-200);
}