.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px 12px 16px;
}

.status,
.error {
	padding: 12px;
	font-size: 14px;
	font-weight: 700;
	background-color: var(--color-system-background-100);
	border-radius: 10px;
}

.status {
	color: var(--color-system-text-200);
}

.error {
	color: var(--color-route-status-error-text);
}

.itineraries {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
