/* .root {
	&[data-variant='subtle'] {
		--ai-hover: var(--color-status-danger-contrast) !important;
		--ai-hover-color: var(--color-status-danger-primary) !important;
		--ai-color: var(--color-system-text-300) !important;
	}
} */