# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #


ENVIRONMENT="staging"


## DATABASE
DATABASE_URI="..."


## FILES
OCI_USER="..."
OCI_FINGERPRINT="..."
OCI_TENANCY="..."
OCI_REGION="..."
OCI_PRIVATE_KEY="..."
OCI_NAMESPACE="..."
OCI_BUCKET_NAME="..."
STORAGE_TYPE="..."