.container {
    align-self: center;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-md);
}

.subSection {
    display: flex;
    flex-direction: row;
    /* gap: var(--size-spacing-md); */
    justify-content: center;
}

.subSectionRed {
    display: flex;
    flex-direction: row;
    gap: var(--size-spacing-md);
    justify-content: center;
    color: var(--color-brand-metro-100);
}

.button {
    background-color: var(--color-status-active-primary);
    border-color: var(--color-status-active-primary);
    box-shadow: none;
}