/* * */
/* VEHICLES COUNTER */

.vehiclesCounter {
    position: absolute;
    bottom: 12px;
    left: 15px;
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 4px 8px 4px 10px;
    font-size: var(--font-size-sm);
    font-weight: 600;
    color: var(--color-brand-primary);
    background-color: var(--color-system-background-100);
    border-radius: 1000px;
}

.vehiclesCounter.zeroCount {
	color: var(--color-system-text-300);
}