# # # # # # # # # # # # # # # # # # #
# WARNING - DO NOT COMMIT THIS FILE #
# # # # # # # # # # # # # # # # # # #

# COMMON
NODE_ENV=development
NEXT_PUBLIC_URL=http://localhost:51003
NEXT_PUBLIC_AUTH_URL=http://localhost:51000
API_PORT=52003
FRONTEND_PORT=51003

# OTHER
## INTERFACES
TML_INTERFACE_FILES=mongodb://root:root@localhost:37001
TML_INTERFACE_STOPS=mongodb://root:root@localhost:37002
 
## FILES CLOUD
OCI_BUCKET_NAME=
OCI_ACCESS_KEY_ID=
OCI_SECRET_ACCESS_KEY=
OCI_NAMESPACE=
OCI_REGION=
TML_INTERFACE_FILES_STORAGE_TYPE=
 
## FRONTEND
NEXT_PUBLIC_CMET_API_URL=https://api.carrismetropolitana.pt/v2
