.section {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-sm);
}

.details {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-md);
}

.id {
    padding: 3px 6px 2px;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    color: #c1c2c5;
    letter-spacing: 1px;
    border: 1px solid #5c5f66;
    border-radius: var(--mantine-spacing-xs);
}

.coords {
    padding: 3px 6px 2px;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    color: #c1c2c5;
    letter-spacing: 1px;
    border: 1px solid #5c5f66;
    border-radius: var(--mantine-spacing-xs);
}