/* * */
/* CONTAINER */

.container {
	gap: var(--size-spacing-md);
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	border-radius: var(--border-radius-xs);
}

/* * */
/* LOGO */

.logo {
	width: 90px;
	height: 60px;
	margin-top: 20px;
	margin-left: 22px;
}