/* * */

:root {
	-webkit-tap-highlight-color: transparent;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
canvas:focus-visible,
[role='button']:focus-visible {
	outline: 2px solid var(--color-system-text-200) !important;
	outline-offset: 2px;
}

@media (forced-colors: active) {
	button:focus-visible,
	a:focus-visible,
	input:focus-visible,
	textarea:focus-visible,
	select:focus-visible,
	canvas:focus-visible,
	[role='button']:focus-visible {
		outline: 2px solid CanvasText !important;
		box-shadow: none;
	}
}

[data-overlay-container] {
	width: 100%;
	height: 100%;
}
