.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--size-spacing-md);
    justify-content: center;
}

.locality {
    background-color: #2F4156;
    padding: var(--size-spacing-md);
    border-radius: 4px;
}

.button {
    background-color: #1964AB;
    border-color: #1964AB;
    box-shadow: none;
}