/* * */
/* APP LOGO */

.appLogo {
	z-index: 100;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	box-shadow: none;
}