/* * */
/* BUTTON / ROOT */

.root {
	height: 40px;
	padding: 0 15px;
	overflow: visible;
	cursor: pointer;
	user-select: none;
	border: 2px solid transparent;
	border-radius: 4px;
}

.root, /* DEFAULT */
.root[data-variant='primary'] {
	color: var(--color-contrast);
	background-color: var(--color-primary);
	border-color: var(--color-secondary);
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.root[data-variant='secondary'] {
	color: var(--color-primary);
	background-color: var(--color-background);
	border-color: var(--color-primary);
	box-shadow: 0 1px 3px 0 var(--color-shadow);
}

.root[data-variant='muted'] {
	color: var(--color-system-text-300);
	background-color: var(--color-system-background-100);
	border-color: var(--color-system-text-300);
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
}

.root[data-variant='disabled'] {
	color: var(--color-system-border-100);
	cursor: not-allowed;
	background-color: var(--color-system-background-200);
	border-color: var(--color-system-border-100);
	box-shadow: unset;
}

.root[data-variant='danger'] {
	color: var(--color-status-danger-primary);
	background-color: var(--color-status-danger-contrast);
	border-color: var(--color-status-danger-primary);
	box-shadow: 0 1px 3px 0 var(--color-status-danger-shadow);
}

.root[data-variant='transparent'] {
	background-color: transparent;
	border-color: transparent;
	box-shadow: unset;
}

/* BUTTON / INNER */

.inner {
	display: flex;
	gap: 10px;
}

/* BUTTON / SECTION */

.section {
	display: flex;
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
}

/* BUTTON / LABEL */

.label {
	font-size: 16px;
	font-weight: var(--font-weight-semibold);
	line-height: 1;
	text-transform: uppercase;
}
