.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 0;
}

.root[data-reject] {
	background-color: var(--color-status-danger-contrast);
}

.root[data-accept] {
	background-color: var(--color-status-success-contrast);
}