/* * */
/* COMMON */

.root {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
}

.indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border: 2px solid transparent;
	border-radius: 999px;
}

/* * */
/* PROPS / SIZE */

.root[data-size='sm'] .indicator {
	width: 6px;
	height: 6px;
}

.root[data-size='md'] .indicator {
	width: 8px;
	height: 8px;
}

.root[data-size='lg'] .indicator {
	width: 12px;
	height: 12px;
}


/* * */
/* PROPS / VARIANT */

.root[data-variant='primary'] .indicator {
	border-color: var(--color-primary);
}

.root[data-variant='secondary'] .indicator {
	border-color: var(--color-system-text-100);
}

.root[data-variant='muted'] .indicator {
	border-color: var(--color-system-border-100);
}

.root[data-variant='success'] .indicator {
	border-color: var(--color-status-success-primary);
}

.root[data-variant='warning'] .indicator {
	border-color: var(--color-status-warning-primary);
}

.root[data-variant='danger'] .indicator {
	border-color: var(--color-status-danger-primary);
}

/* * */
/* PROPS / FILLED */

.root[data-variant='primary'][data-filled='true'] .indicator {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.root[data-variant='secondary'][data-filled='true'] .indicator {
	background-color: var(--color-system-text-100);
	border-color: var(--color-system-text-100);
}

.root[data-variant='muted'][data-filled='true'] .indicator {
	background-color: var(--color-system-border-100);
	border-color: var(--color-system-border-100);
}

.root[data-variant='success'][data-filled='true'] .indicator {
	background-color: var(--color-status-success-primary);
	border-color: var(--color-status-success-primary);
}

.root[data-variant='warning'][data-filled='true'] .indicator {
	background-color: var(--color-status-warning-primary);
	border-color: var(--color-status-warning-primary);
}

.root[data-variant='danger'][data-filled='true'] .indicator {
	background-color: var(--color-status-danger-primary);
	border-color: var(--color-status-danger-primary);
}