# OCI Authentication
tenancy_ocid     = "ocid1.tenancy.oc1..xxx"
user_ocid        = "ocid1.user.oc1..xxx"
fingerprint      = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "eu-frankfurt-1"

# Infrastructure
compartment_ocid    = "ocid1.compartment.oc1..xxx"
availability_domain = "XXXX:EU-FRANKFURT-1-AD-1"
subnet_ocid         = "ocid1.subnet.oc1.eu-frankfurt-1.xxx"
ssh_public_key_path = "~/.ssh/id_rsa.pub"

# Component Images (from Packer builds)
server_image_ocid  = "ocid1.image.oc1.eu-frankfurt-1.xxx"
worker_image_ocid  = "ocid1.image.oc1.eu-frankfurt-1.xxx"
gateway_image_ocid = "ocid1.image.oc1.eu-frankfurt-1.xxx"

# Instance Counts
server_count  = 3
worker_count  = 3
gateway_count = 2

# Set to true to deploy Nginx gateway
deploy_gateway = false
