# COMMON
NODE_ENV=development
NEXT_PUBLIC_URL=http://localhost:51001
NEXT_PUBLIC_AUTH_URL=http://localhost:51000

# OTHER
## INTERFACES
TML_INTERFACE_FILES=mongodb://root:root@localhost:37006
TML_INTERFACE_ALERTS=mongodb://root:root@localhost:37001
 
## FILES CLOUD
CLOUDFLARE_API_KEY=...
CLOUDFLARE_ACCOUNT_ID=...
CLOUDFLARE_BUCKET_NAME=...
CLOUDFLARE_ACCESS_KEY_ID=...
CLOUDFLARE_SECRET_ACCESS_KEY=...
TML_INTERFACE_FILES_STORAGE_TYPE=...
 
## DATIK
DATIK_API_URL=...
 
## FRONTEND
NEXT_PUBLIC_CMET_API_URL=https://api.carrismetropolitana.pt/v2
