# COMMON
NODE_ENV=development

NEXT_PUBLIC_URL=http://localhost:51004
NEXT_PUBLIC_AUTH_URL=http://localhost:51000

FRONTEND_PORT=51004
API_PORT=52004

# OTHER
## INTERFACES
TML_INTERFACE_FILES=mongodb://root:root@localhost:37001
TML_INTERFACE_PLANS=mongodb://root:root@localhost:37004
