# COMMON

ENVIRONMENT=development

FRONTEND_PORT=51004
API_PORT=52004

# OTHER
## INTERFACES
TML_INTERFACE_FILES=mongodb://root:root@localhost:37001/?directConnection=true
TML_INTERFACE_PLANS=mongodb://root:root@localhost:37004/?directConnection=true
RABBITMQ_URI=amqp://user:password@localhost:5672

## FILES CLOUD
OCI_BUCKET_NAME=
OCI_ACCESS_KEY_ID=
OCI_SECRET_ACCESS_KEY=
OCI_NAMESPACE=
OCI_REGION=
TML_INTERFACE_FILES_STORAGE_TYPE=