# COMMON

ENVIRONMENT=development

FRONTEND_PORT=51004
API_PORT=52004

# OTHER
## INTERFACES
TML_INTERFACE_FILES=mongodb://root:root@localhost:37001/?directConnection=true
TML_INTERFACE_PLANS=mongodb://root:root@localhost:37004/?directConnection=true
RABBITMQ_URI=amqp://user:password@localhost:5672

## FILES CLOUD
CLOUDFLARE_API_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
TML_INTERFACE_FILES_STORAGE_TYPE=