.container {
	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-sm);
	width: 100%;
	min-height: fit-content;
	margin-bottom: var(--size-spacing-md);
}

.preview {
	position: relative;
	width: 100%;
	max-width: 400px;
}

.preview > div {
	width: 100% ;
	max-width: 100% ;
	padding: var(--size-spacing-sm);
}

.image {
	display: block;
	width: 100%;
	height: auto;
	max-height: 280px;
	object-fit: contain;
}

.deleteContainer {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 20;
}