.container {
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-sm);
    align-items: center;
    justify-content: space-between;
    padding: var(--mantine-spacing-sm);
}

.inputText {
    width: 100%;
}

.settings {
    min-width: 34px;
    min-height: 34px;
    cursor: pointer;
    background-color: aqua;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 0 var(--size-spacing-xs);
    cursor: pointer;
    background-color: var(--color-system-border-100);
    border-radius: var(--size-spacing-xs);
}

/* .icon:hover {
    background-color: var(--color-system-text-200);
} */

.breadcrumbs {
    position: absolute;
    top: 45px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-system-border-100);
}