.list {
	display: flex;
	flex-direction: column;
	gap: 13px;
	width: 100%;
}

.item {
	min-width: 0;
}

.header {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto 66px;
	gap: 8px;
	align-items: baseline;
}

.header strong {
	overflow: hidden;
	font-size: var(--font-size-xs);
	color: var(--color-system-text-100);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.header span,
.header small {
	font-size: 11px;
	color: var(--color-system-text-200);
	text-align: right;
}

.header small[data-direction='up'] {
	color: var(--color-status-success-primary);
}

.header small[data-direction='down'] {
	color: var(--color-status-danger-primary);
}
