/* * */
/* CONTAINER */

.container {
	height: 15vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid;
    border-radius: 10px;
    background-color: var(--color-system-background-200);
    border-color: var(--color-system-border-100);
	transition: 300ms;
}

.container:hover {
	background-color: var(--color-system-background-300);
}

/* * */
/* TITLE */

.title {
	font-size: 20px;
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	user-select: none;
}

/* * */
/* ICON */

.icon {
	font-size: 25px;
}