
.container {
    text-align: center;
    max-height: 25%;
    padding: 100px 0px;
    padding-bottom: 150px;
    border: 2px solid;
    border-radius: 10px;
    background-color: var(--color-system-background-200);
    border-color: var(--color-system-border-100);
    transition: 300ms;
}

.container:hover {
    background-color: var(--color-system-background-300);
}

